<style>
    .f-info-socials{
        padding-top : 0.75rem;
    }

  .f-info-socials a {
    text-decoration: none;
    color: inherit;
    margin: 0 0.5rem;
  }

  .f-info-socials a:hover {
    color: #0077b5; /* Example: Change color on hover */
  }
</style>

<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/profile.php?id=61576872007304" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://www.instagram.com/accounts/onetap/?next=%2F" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/avinab-singh/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div>
      &copy; NestiFY Private Limited
    </div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
