<style>
  .search-btn {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background-color: rgb(239, 105, 127);
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .search-btn:hover {
    background-color: rgb(239, 105, 127);
    color: #fff;
  }

  .search-inp {
    padding: 0 3rem 0 3rem;
    border-radius: 25px;
  }

  .container-fluid {
    letter-spacing: 1.2px;
  }

  @media (max-width: 768px) {
    .navbar form {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom" id="navbar">
  <div class="container-fluid" id="container">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-hotel fa-otter"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" onclick="margin()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/destinations" method="GET">
          <input class="form-control me-2 search-inp" type="search" placeholder="Destinations" aria-label="Search" name="destination" id="destination">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-search" style="margin-right: 0.5rem;"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Nestify</a>
        <% if (!curUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (curUser) { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  function margin() {
    if (document.getElementById("navbar").style.marginBottom === "10rem") {
      document.getElementById("navbar").style.marginBottom = "1rem";
    } else {
      document.getElementById("navbar").style.marginBottom = "1rem";
      document.getElementById("container").style.backgroundColor = "white";
    }
  }
</script>